body, table, input, textarea, select, button {
    font-family: Microsoft YaHei, Verdana, sans-serif, SimSun;
}

body {
    padding-top: 60px;
    padding-bottom: 40px;
}

.page-header {
    margin: 5px 5px 10px;
    padding-bottom: 0px;
}

.dot {
    height: 5px;
    margin-top: 5px;
}

.VVnews ul li {
    line-height: 22px;
    overflow: hidden;
}

.VVnews ul li .date {
    color: #666666;
    font-size: 8pt;
}

.VVnews ul li.today a {
    background: url("../img/icons2.gif") no-repeat scroll 0 -234px transparent;
    padding-left: 12px;
}

.VVnews ul li.other a {
    background: url("../img/icons2.gif") no-repeat scroll 0 -284px transparent;
    padding-left: 12px;
    color: #3E62A6;
    outline: 0 none;
}

.hotnews ul li {
    line-height: 22px;
    overflow: hidden;
}

.hotnews ul li .date {
    color: #666666;
    font-size: 8pt;
    margin-left: 20px;
}

.hotnews ul li .stat {
    color: #666666;
}

.hotnews ul li .stat em {
    color: #AA0000;
    font-style: normal;
    margin: 0 2px;
}

.newsList {
    margin: 20px 10px;
}

.newsList li {
    border-bottom: 1px solid #EEEEEE;
    margin-bottom: 10px;
    overflow: hidden;
    padding-bottom: 10px;
}

.newsList li h2 {
    margin: 0 0 5px;
}

.newsList li .date {
    color: #666666;
}

.newsList li .detail {
    color: #666666;
    line-height: 20px;
    margin: 10px 0;
}

.newsList li .newsImg {
    margin: 0 0 10px;
}

.newsList li .newsImg img {
    border: 1px solid #FFFFFF;
    max-width: 600px;
}

.newsList a {
    text-decoration: none;
    color: #3E62A6;
    outline: 0 none;
}

.newsReplies ul {
    margin: 10px 0 0 5px;
}

.newsReplies ul li {
    border-bottom: 1px dashed #CCCCCC;
    margin-bottom: 10px;
    overflow: hidden;
    padding-bottom: 10px;
}

.newsReplies ul li .content {
    display: block;
    margin-bottom: 8px;
}

.newsReplies ul li .outline {
    color: #888888;
}

.newsReplies a {
    text-decoration: none;
}

.leftAd {
    height: 50px;
    margin-top: 10px;
    border: solid 1px;
}

.discuss .table {
    margin-top: 10px;
    margin-bottom: 10px;
}

.discuss .table td {
    white-space: nowrap;
    border-bottom: 1px dashed #CCCCCC;
}

.discuss .table td.thread a {
    height: 18px;
    line-height: 18px;
    padding-left: 20px;
    text-decoration: none;
}

.discuss .table td.thread a.top {
    color: #AA0000;
    font-weight: bold;
}

.discuss .table td.thread span.stat {
    color: #888888;
    font-size: 9pt;
    margin-left: 10px;
}

.discuss .table td.lastpost {
    color: #888888;
    font-size: 9pt;
    text-align: right;
}


.hotuser ul li {
    float: left;
    margin: 0 0 10px 10px;
    overflow: hidden;
    text-align: center;
}


.hotuser ul li img {
    height: 64px;
    width: 64px;
}

.TopTweets {
    list-style-type: none;
    margin-left: 0;
}

.TopTweets li {
    border-bottom: 1px dashed #DDDDDD;
    margin: 0 0 5px;
    padding: 0 0 8px;
}

.TopTweets li .portrait {
    float: left;
    padding-top: 3px;
    width: 45px;
}

.TopTweets li .portrait img {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #CCCCCC;
    height: 32px;
    padding: 1px;
    width: 32px;
}

.TopTweets li .body {
    float: left;
    font-size: 9pt;
    overflow: hidden;
    width: 320px;
}

.TopTweets li .user a {
    color: #6CABE1;
}

.TopTweets li .log {
    color: #666666;
    word-break: break-all;
}

.TopTweets li .time {
    color: #9A9A9A;
    display: block;
    margin: 5px 0 0;
}

.TopTweets li .time a {
    color: #9A9A9A;
    text-decoration: none;
}

.QuestionList .nav {
    margin-bottom: 0;
}

.QuestionList ul li.question {
    border-bottom: 1px dashed #CCCCCC;
    margin: 0 0 5px;
    padding: 0 0 10px;
}

.QuestionList ul li.question a.user {
    float: left;
    width: 50px;
}

.QuestionList ul li.question a.user img {
    height: 36px;
    width: 36px;
}

.QuestionList ul li.question .qbody {
    float: left;
    width: 550px;
}

.QuestionList ul li.question h4 {
    margin-top: 0;
}

.QuestionList ul li.question h4 a {
    text-decoration: none;
    outline: 0 none;
}

.QuestionList ul li.question .Tags {
    margin: 10px 0 0;
}

.QuestionList ul li.question .Date {
    color: #888888;
    font-size: 8pt;
    margin: 5px 0 0;
}

.QuestionList ul li.question .qstat {
    float: right;
    text-align: right;
    width: 140px;
}

.QuestionList ul li.question .qstat ul li {
    float: right;
    font-size: 9pt;
    margin-left: 3px;
    padding: 0 0 3px;
    text-align: center;
    width: 42px;
}

.QuestionList ul li.question .qstat ul li em {
    display: block;
    font-family: Verdana;
    font-size: 12pt;
    font-style: normal;
    font-weight: bold;
    padding: 3px 0;
}

.hottag a {
    margin: 2px 2px 2px 0;
    text-decoration: none;
    white-space: nowrap;
}

.SmallPortrait {
    opacity: 0.9;
}

.clear {
    clear: both;
    font-size: 1px;
    line-height: 0;
}

.thread_type_1 {
    background: url("../img/thread_1.gif") no-repeat scroll left center transparent;
}

.thread_type_2 {
    background: url("../img/thread_2.gif") no-repeat scroll left center transparent;
}

.reg {
    border: 1px solid #DDDDDD;
    overflow: hidden;
    padding: 20px;
}

/* Footer
-------------------------------------------------- */

#footer {
    margin-bottom: 20px;
}

#footer .links a {
    color: #666666;
    margin-right: 10px;
}

#footer .about {
    margin-top: 20px;
}

#footer .about a {
    margin-right: 20px;
}

#footer .about span {
    line-height: 30px;
}

#scrollUp {
    bottom: 20px;
    right: 20px;
    height: 38px; /* Height of image */
    width: 38px; /* Width of image */
    background: url("../img/top.png") no-repeat;
}

/* 用户中心
-------------------------------------------------- */
.member .owner {
    padding: 15px 5px 15px 10px;
}

.member .owner a {
    text-decoration: none;
}

.member .owner .Img img {
    float: left;
    height: 56px;
    width: 56px;
    margin: 0 20px 10px 0;
    padding: 3px;
}

.member .owner span.U .Name {
    color: #FFFFFF;
    display: block;
    font-size: 14pt;
    font-weight: bold;
    margin: 0 0 12px;
    word-wrap: break-word;
}

.member .owner span.U .opts {
    color: #FFFFFF;
    font-size: 9pt;
}

.member .owner span.U .opts a {
    color: #FFFFFF;
}

.member .owner .stat {
    color: #FFFFFF;
    font-size: 9pt;
}

.member .owner .stat a {
    margin-right: 3px;
    color: #FFFFFF;
    padding: 0;
}

.member .Resume {
    background: url("../img/resume24.png") no-repeat scroll left bottom #7798CB;
    color: #FFFFFF;
    margin: 3px 0 0;
    overflow: hidden;
    padding: 18px 10px 18px 40px;
    word-wrap: break-word;
}

.member .Opts {
    margin: 3px 0 0;
}

.member .Opts a.a1 {
    background-color: #3FB618;
}

.member .Opts a {
    cursor: pointer;
    float: left;
    height: 108px;
    width: 133px;
    color: #4466BB;
    outline: 0 none;
}

.member .Opts a.a2 {
    margin-left: 4px;
    background-color: #3FB618;
}

.member .Opts a.blog i {
    background-position: 0 -67px;
}

.member .Opts a.admin i {
    background-position: 0 -201px;
}

.member .Opts a i {
    background-image: url("../img/space-opts.png");
    display: block;
    height: 67px;
    margin: 10px 0 0 30px;
    text-indent: -9999px;
    width: 67px;
}

.member .Opts a span {
    color: #FFFFFF;
    font-size: 11pt;
    padding: 82px 0 0 20px;
}

.member .Mod {
    background-color: #DFDFDF;
    color: #666666;
    margin: 3px 0 0;
    overflow: hidden;
    padding: 5px 0;
}

.member .Mod ul, .Mod ol {
    line-height: 24px;
    margin: 10px;
    list-style-type: none;
    padding-left: 8px;
}

.member .Users ul li {
    float: left;
}

.member .Users ul li a {
    margin: 1px 1px 0 0;
    color: #4466BB;
    outline: 0 none;
}

.member .Users ul li img {
    border: 1px solid #EAEAEA;
    height: 36px;
    width: 36px;
}

.member .Users .more {
    margin: 15px 0;
    padding: 0 5px 0 0;
    text-align: right;
}

.member .RMod {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #EEEEEE;
    padding: 10px
}

.member .RMod .page-header h4{
    color: #4682B4;
    font-size: 16pt
}

.member .RMod ul {
    list-style-type: none;
    margin: 10px;
}

.member .RMod ul li {
    margin: 10px 0 0;
}

.member .RMod ul li strong {
    font-size: 10.5pt;
    font-weight: bold;
    margin: 0;
    color: #333333;
}

.member .RMod ul li p {
    color: #666666;
}

.member .RMod ul li p img {
    width: 100px;
    height: 100px;
}

#MyTweetForm {
    border: 1px solid #EEEEEE;
    padding: 10px 15px;
}

#TFormTitle {
    color: #888888;
    position: relative;
}

#TFormTitle .r {
    float: right;
    font-size: 9pt;
    margin: 0 10px 0 0;
}

#TFormTitle .r em {
    color: #AA0000;
    font-size: 10.5pt;
    font-style: normal;
    font-weight: bold;
    margin: 0 3px 0 0;
}

#TForm {
    margin-bottom: 0;
}

#TForm #TFormEditor {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #3FB618;
    margin: 2px 0 0;
    padding: 2px;
}

#TForm textarea {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 0 none;
    font-size: 10pt;
    height: 80px;
    overflow: auto;
    padding: 5px;
    width: 98%;
    resize: none;
    margin-bottom: 0;
}

#TFormOpts {
    margin: 0 0 0 5px;
}

#TFormOpts .B {
    background: none repeat scroll 0 0 #3FB618;
    border: 0 none;
    color: #FFFFFF;
    cursor: pointer;
    float: right;
    font-size: 12pt;
    margin-right: 10px;
    padding: 3px 20px 5px;
}

#Logs {
    margin: 10px 0 0;
    padding: 10px;
}

.MMod {
    border: 1px solid #EEEEEE;
}

#Logs .UserLogs {
    margin: 20px 10px;
    list-style-type: none;
}

.Tweet {
    border-bottom: 1px dashed #CCCCCC;
    margin: 0 0 10px;
    padding: 0 0 5px;
}

.ostable {
    table-layout: fixed;
    width: 100%;
}

.ostable td {
    overflow: hidden;
    vertical-align: top;
}

.Tweet .TweetUser {
    width: 48px;
}

.Tweet a {
    text-decoration: none;
}

.Tweet .TweetUser img {
    height: 32px;
    margin-top: 5px;
    width: 32px;
}

.Tweet .TweetContent {
    color: #333333;
}

.Tweet .TweetContent h5 {
    color: #999999;
    font-size: 10pt;
    font-weight: normal;
}

.Tweet .TweetContent .post {
    font-size: 10.5pt;
    line-height: 22px;
    margin: 5px 0 0;
    overflow: hidden;
}

.Tweet .TweetContent .ref {
    background: url("../img/up_arrow.gif") no-repeat scroll 15px 0 transparent;
    font-size: 9pt;
    margin: 3px 0 0;
    padding-top: 5px;
}

.Tweet .TweetContent .ref .p {
    background: none repeat scroll 0 0 #F6F6F6;
    border: 1px solid #CCCCCC;
    color: #999999;
    padding: 5px;
}

.Tweet .TweetContent .bottom {
    height: 18px;
    margin: 10px 0 0;
}

.Tweet .TweetContent .opts {
    float: right;
    font-size: 8pt;
}

.Tweet .TweetContent .time {
    color: #888888;
    font-size: x-small;
    margin: 0;
}

.admin .AdminNav {
    background: none repeat scroll 0 0 #9954BB;
    font-size: 14pt;
    padding: 10px;
}

.admin .AdminNav a.u {
    width: 40px;
}

.admin .AdminNav a.u img {
    height: 40px;
    width: 40px;
}

.admin .AdminNav a.h {
    color: #FFFFFF;
    margin: 5px 0 0 10px;
}

.admin .Mod {
    background: none repeat scroll 0 0 #EAEAEA;
    color: #666666;
    margin: 3px 0 0;
    overflow: hidden;
    padding: 5px 0;
}

.admin .Mod .page-header {
    border-bottom: 2px solid #6E7B8B;
}

.admin .Mod ul, .Mod ol {
    line-height: 24px;
    margin: 10px;
    list-style-type: none;
}

.admin .Mod li.caption {
    margin-bottom: 20px;
}

.admin .Mod li.caption ol {
    line-height: 30px;
    margin: 10px 0 0;
}

.admin .Mod li.caption ol li {
    padding-left: 10px;
    line-height: 30px;
}

.admin .Mod li.caption ol li.active {
    background: none repeat scroll 0 0 #F6F6F6;
    font-weight: bold;
}

.admin .Mod li.caption ol li.active a {
    color: #333333;
}

.news .detail {
    background: none repeat scroll 0 0 #FFFFFF;
    /*border: 1px solid #CCCCCC;*/
    box-shadow: 0 1px 3px rgba(198, 198, 198, 0.5);
    margin-top: 10px;
    padding: 15px 10px 10px;
}

.news .detail p {
    font-size: 12pt;
    margin: 5px 5px 10px;
    overflow: hidden;
}

.news .detail .nextprev {
    line-height: 30px;
}

.news blockquote, p {
    margin: 5px 5px 10px;
    padding-bottom: 0;
    font-size: 10.5pt;
}

.news .detail .toolbar {
    border: 1px solid #CCCCCC;
    box-shadow: 0 1px 3px rgba(198, 198, 198, 0.5);
    margin: 10px 10px 15px;
    padding: 5px 5px 5px 5px;
    vertical-align: middle;
    height: 21px;
}

.news .comments {
    margin: 20px 0 0;
}

.news .comments h2 {
    background: none repeat scroll 0 0 #379F15;
    color: #FFFFFF;
    font-size: 11pt;
    line-height: 24px;
    padding: 0 5px;
}

.news .comments h2 .more{
    color: #FFFFFF;
    float: right;
    font-size: 9pt;
    font-weight: normal;
}

.news .comments ul {
    list-style-type: none;
    padding: 0 10px 0 0;
}

.news .comments ul li {
    margin: 10px 0;
}

.news .comments ul li .portrait {
    vertical-align: top;
    width: 45px;
}

.news .comments ul li .portrait img {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #EEEEEE;
    height: 32px;
    padding: 2px;
    width: 32px;
}

.news .comments ul li .body {
    font-size: 9pt;
    vertical-align: top;
    word-break: break-all;
}

.news .comments ul li .body .r_title {
    color: #888888;
    font-size: 9pt;
}

.news .comments ul li .body .r_content {
    color: #0000AA;
    margin: 5px 0 0;
    overflow: hidden;
}

.news .comments ul li.row_0 {
    background: none repeat scroll 0 0 #F6F6F6;
}

.textcontent {
    line-height: 1.6;
}


.TextContent div.ref {
    background: none repeat scroll 0 0 #FFFEC8;
    border: 1px solid #DDDDDD;
    font-size: 9pt;
    margin: 0 0 10px;
    padding: 2px;
}

.TextContent div.ref h4 {
    background: none repeat scroll 0 0 #CC9966;
    color: #FFFFFF;
    font-size: 10pt;
    margin: 0;
    padding: 1px 3px;
}

.TextContent div.ref p {
    color: #666666;
    font-size: 9pt;
    line-height: 20px;
    margin: 0;
    padding: 2px;
}

.commentForm {
    margin: 0 5px;
    padding-left: 45px;
}

#myCarousel div.item {
    height: 500px;
}

.logs {
    list-style-type: none;
    margin: 20px 0 0;
}


.logs li {
    border-bottom: 1px solid #EEEEEE;
    margin: 0 0 10px;
    overflow: hidden;
    padding: 0 0 10px;
}

.logs li .portrait {
    float: left;
    width: 50px;
}

.logs li a {
    text-decoration: none;
}

.logs li .portrait img {
    height: 40px;
    margin-top: 2px;
    width: 40px;
}

.logs li .tweet {
    float: left;
}

.logs li .tweet p {
    color: #000000;
    line-height: 22px;
    overflow: hidden;
    word-break: break-all;
}

.logs li .tweet .outline {
    color: #888888;
    font-size: 9pt;
}

.Tweet {
    border-bottom: 1px dashed #CCCCCC;
    margin: 0 0 10px;
    padding: 0 0 5px;
}

.Tweet .TweetUser {
    width: 48px;
}

.Tweet a {
    text-decoration: none;
}

.Tweet .TweetUser img {
    height: 32px;
    margin-top: 5px;
    width: 32px;
}

.Tweet .TweetContent {
    color: #333333;
}

.Tweet .TweetContent h5 {
    color: #999999;
    font-size: 10pt;
    font-weight: normal;
}

.Tweet .TweetContent .post {
    font-size: 10.5pt;
    line-height: 22px;
    margin: 5px 0 0;
    overflow: hidden;
}

.Tweet .TweetContent .post {
    font-size: 10.5pt;
    line-height: 22px;
    margin: 5px 0 0;
    overflow: hidden;
}

.Tweet .TweetContent .opts {
    float: right;
    font-size: 8pt;
}

.Tweet .TweetContent .time {
    color: #888888;
    font-size: x-small;
    margin: 0;
}

#TweetReplyForm textarea {
    display: block;
    font-size: 9pt;
    height: 50px;
    margin: 10px 0 5px;
    padding: 2px;
    width: 98%;
}

#TweetReplyForm .TweetReplyOptions {
    float: right;
}

.TweetReplyOptions {
    height: 24px;
    line-height: 24px;
}

#TweetReplyForm #btn_submit {
    font-weight: bold;
    margin-right: 5px;
    padding: 2px 3px;
}

#TweetFormPopupWraper {
    display: none;
    position: absolute;
    z-index: 9999;
}

#TweetFormPopupWraper .emotions {
    background-position: 51px 0;
}

#TweetFormPopupArrow {
    background-image: url("../img/up_arrow.gif");
    background-repeat: no-repeat;
    padding-top: 5px;
}

#TweetFormPopup {
    background: none repeat scroll 0 0 #FFFFCC;
    border: 2px solid #CCCCCC;
    padding: 5px;
    width: 392px;
}

#TweetFormPopup .TweetPopupTitle {
    background: none repeat scroll 0 0 #666666;
    color: #FFFFFF;
    font-weight: bold;
    margin: 0 0 10px;
    padding: 3px 5px;
}

#TweetFormPopup .TweetPopupTitle a {
    color: #FFFFFF;
    float: right;
}

#TweetFormPopup a.emotion {
    background-image: url("../img/qq.gif");
    background-repeat: no-repeat;
    border: 1px solid #F6F6F6;
    float: left;
    height: 24px;
    margin: 0 2px 4px 0;
    width: 24px;
}

.TweetRpls ul {
    margin: 0 0 10px 0px;
}
.TweetRpls li {
    list-style-type: none;
    border-bottom: 1px dashed #CCCCCC;
    padding: 10px 0 5px;
}

.TweetRpls li .portrait {
    width: 30px;
}

.TweetRpls li .portrait img {
    height: 24px;
    margin: 5px 0 0;
    width: 24px;
}

.TweetRpls li .TweetReplyBody {
    overflow: hidden;
    width: 450px;
}

.TweetRpls li .TweetReplyBody .post {
    line-height: 20px;
}

.TweetRpls li .TweetReplyBody .opts {
    color: #999999;
    float: none;
    font-size: 8pt;
    height: 18px;
    margin: 10px 0 0;
}

.TweetRpls li .TweetReplyBody .opts .links {
    float: right;
}